<div class="container">
  <div class="row my-5">
    <div class="col-6">
      <h3>会員情報</h3>
    </div>
  </div>

    <!--会員情報編集フォームここから-->
  <div class="row">
    <div class-"col-8">
      <%= form_with model: @customer, url: customers_path, local: true do |f| %>
      <div class="form-row">
        <%= f.label :氏名, class:"col-sm-4 col-form-label" %>
        
        <div class="form-group col-sm-4">
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-control" %>
        </div>
        
        <div class="form-group col-sm-4">
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control" %>
        </div>
      </div>
    
      <div class="form-row">
        <%= f.label :フリガナ, class:"col-sm-4 col-form-label" %>
        <div class="form-group col-sm-4">
          <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class:"form-control" %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class:"form-control" %>
        </div>
      </div>
    
      <div class="form-row">
        <%= f.label :"郵便番号", class:"col-sm-4 col-form-label" %>
        <div class="form-group col-sm-4">
          <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class:"form-control" %>
        </div>
      </div>
      
      <div class="form-row">
        <%= f.label :住所, class:"col-sm-4 col-form-label" %>
        <div class="form-group col-sm-8">
          <%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control" %>
        </div>
      </div>
      
      <div class="form-row">
        <%= f.label :"電話番号", class:"col-sm-4 col-form-label" %>
        <div class="form-group col-sm-4">
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class:"form-control" %>
        </div>
      </div>
      
      <div class="form-row">
        <%= f.label :メールアドレス, class:"col-sm-4 col-form-label" %>
        <div class="form-group col-sm-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"  %>
        </div>
      </div>
      
      <div class="form-row">
        <div class="col-sm-4">
        </div>
        <div class="form-group col-sm-5">
          <%= f.submit '編集内容を保存', class:'btn btn-success' %>
        </div>
        <div class="form-group col-sm-3">
          <%= link_to '退会する', customers_quit_path, class:'btn btn-danger' %>
        </div>
      </div>
      <% end %>
      
    </div>
  </div>
  <!--会員情報編集フォームここまで-->

</div>