<div class="container mt-5">
  <h3 class="bg-light text-center mb-4 ml-5" style="width:200px">マイページ</h3>
    <div class="row">
      <div class="col-1">
        <p class="font-weight-bold">登録情報</p>
      </div>
      <div class="col">
        <span><%= link_to '編集する', edit_customers_path, class:'btn btn-success btn-sm' %></span>
      </div>
    </div>


  <div class="row">
    <div class="col-8">
      <!--会員登録情報ここから-->
      <table class="table table-sm table-bordered">
        <tbody>
          <tr>
            <td class="table-secondary" width="150">氏名</td>
            <td><%= current_customer.last_name %>　<%= current_customer.first_name %></td>
          </tr>
          <tr>
            <td class="table-secondary" width="150">カナ</td>
            <td><%= current_customer.last_name_kana %>　<%= current_customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="table-secondary" width="150">郵便番号</td>
            <td><%= current_customer.postcode %></td>
          </tr>
          <tr>
            <td class="table-secondary" width="150">住所</td>
            <td><%= current_customer.address %></td>
          </tr>
          <tr>
            <td class="table-secondary" width="150">電話番号</td>
            <td><%= current_customer.phone_number %></td>
          </tr>
          <tr>
            <td class="table-secondary" width="150">メールアドレス</td>
            <td><%= current_customer.email %></td>
          </tr>
        </tbody>
      </table>
      <!--会員登録情報ここまで-->
    </div>
  </div>

      <div class="row">
        <div class="col-1">
        <p class="font-weight-bold mt-1">配送先</p>
        <p class="font-weight-bold mt-4">注文履歴</p>
        </div>
        <div class="col">
        <p><%= link_to '一覧を見る', deliveries_path, class:'btn btn-primary btn-sm' %></p>
        <p><%= link_to '一覧を見る', orders_path, class:'btn btn-primary btn-sm' %></p>
        </div>
      </div>

</div>