<div class="container">
  <div class="row">
    <div class="col-10">
<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: customers_path) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

<div class="form-group row">
    <%= f.label :名前, class:"col-3" %>
  <div class="col-4">
    <%= f.label :last_name, "(姓)", class:"col-form-label" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-control" %>
  </div>
  <div class="col-4">
    <%= f.label :first_name, "(名)" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control" %>
  </div>
</div>

  <div class="form-group row">
    <%= f.label :フリガナ, class:"col-3" %>
    <div class="col-4">
      <%= f.label :last_name_kana, "(セイ)" %>
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class:"form-control" %>
    </div>
    <div class="col-4">
      <%= f.label :first_name_kana, "(メイ)" %>
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :メールアドレス, class:"col-3 col-form-label" %>
    <div class="col-8">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :"郵便番号(ハイフンなし)", class:"col-3 col-form-label" %>
    <div class="col-4">
      <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :住所, class:"col-3 col-form-label" %>
    <div class="col-8">
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :"電話番号(ハイフンなし)", class:"col-3 col-form-label" %>
    <div class="col-4">
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :"パスワード(6文字以上)", class:"col-3 col-form-label" %>
    <div class="col-4">
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :"パスワード(確認用)", class:"col-3 col-form-label" %>
    <div class="col-4">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <legend class="col-3 col-form-control"></legend>
    <div class="col-4">
      <%= f.submit "新規登録", class:"btn btn-success" %>
    </div>
  </div>
<% end %>

<h2>既に登録済みの方</h2>
<%= render "customers/shared/links" %>
    </div>
  </div>
</div>
