<div class="jumbotron top">
  <div class="container">
    <div class="row">
      <div class="welcome-message_top">
        <p id="welcome-text_top">誰かと食べるケーキ。<br>
        ひとりで食べるケーキ。<br>
        どっちも幸せ。<br>
        甘い幸せを、ながのcakeがお届けします。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="a">
    <div class="b"><img class="c" src="assets/cheese_cake.jpg">
      <p class="slide-text">
      誰かと食べるケーキ。<br>
      ひとりで食べるケーキ。<br>
      どっちも幸せ。<br>
      甘い幸せを、ながのcakeがお届けします。</p>
    </div>
    <div class="b"><img class="c" src="assets/chocola.jpg">
      <p class="slide-text">
      誰かと食べるケーキ。<br>
      ひとりで食べるケーキ。<br>
      どっちも幸せ。<br>
      甘い幸せを、ながのcakeがお届けします。</p>
    </div>
    <div class="b"><img class="c" src="assets/macaron.jpg">
    <p class="slide-text">
      誰かと食べるケーキ。<br>
      ひとりで食べるケーキ。<br>
      どっちも幸せ。<br>
      甘い幸せを、ながのcakeがお届けします。</p></div>
  </div>

  <div class="row justify-content-center mb-5">
   <!--<div class="col-xs-8">-->
    <div class="welcome-message">
      <p id="welcome-text">ようこそ、ながのCakeへ!<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。</p>
    </div>

    <div class="new-items">
      <% @active_items.each.with_index(1) do |item| %>
      <div class="new-item">
        <div class="hover-parent">
          <%= link_to item_path(item) do %>
            <%= attachment_image_tag item, :image, :fill, 250, 175, fallback: "noimage.jpg" %>
          <% end %>
          <div class="hover-mask">
            <%= link_to item_path(item), class:"item-link" do %>
            <p>
              <%= item.name %><br />
              ¥<%= (item.price * 1.1).round %>(税込)
            </p>
            <% end %>
          </div>
        </div>
        <div class="new">NEW</div>
      </div>
      <% end %>
    </div>

    <%= link_to "全ての商品を見る", items_path, class:"btn btn-outline-secondary" %>

  </div>
</div>
</div>