<div class="container">
  <div class="row mt-5">
    <div class="col-10">
      <h3 class="text-center" style="width:400px"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>

      <div class="form mt-5">
        <%= form_with model:[:admin, @customer], local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-row">
          <legend class="col-sm-3 col-form-label">会員ID</legend>
          <div class="form-group col-sm-4">
            <%= @customer.id %>
          </div>
        </div>
        <div class="form-row">
          <%= f.label :氏名, class:"col-sm-3 col-form-label" %>

          <div class="form-group col-sm-4">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-control" %>
          </div>

          <div class="form-group col-sm-4">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control" %>
          </div>
        </div>

        <div class="form-row">
          <%= f.label :フリガナ, class:"col-sm-3 col-form-label" %>
          <div class="form-group col-sm-4">
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class:"form-control" %>
          </div>
          <div class="form-group col-sm-4">
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class:"form-control" %>
          </div>
        </div>

        <div class="form-row">
          <%= f.label :"郵便番号", class:"col-sm-3 col-form-label" %>
          <div class="form-group col-sm-4">
            <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class:"form-control" %>
          </div>
        </div>

        <div class="form-row">
          <%= f.label :住所, class:"col-sm-3 col-form-label" %>
          <div class="form-group col-sm-9">
            <%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control" %>
          </div>
        </div>

        <div class="form-row">
          <%= f.label :"電話番号", class:"col-sm-3 col-form-label" %>
          <div class="form-group col-sm-4">
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class:"form-control" %>
          </div>
        </div>

        <div class="form-row">
          <%= f.label :メールアドレス, class:"col-sm-3 col-form-label" %>
          <div class="form-group col-sm-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"  %>
          </div>
        </div>

        <div class="form-row">
          <%= f.label :会員ステータス, class:"col-sm-3 col-form-label" %>
          <div class="form-group col-sm-4">
            <%= f.radio_button :is_deleted, :false %>
            <%= f.label :is_deleted, '有効', class:'mr-3' %>
            <%= f.radio_button :is_deleted, :true %>
            <%= f.label :is_deleted, '退会' %>
          </div>
        </div>

        <div class="form-group row">
            <legend class="col-3 col-form-label"></legend>
            <div class="col-3">
              <%= f.submit '変更を保存', class:'btn btn-success' %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>