<div class="container">
  <div class="row">
	<div class="col-lg-12">
	  <h4 class="Menu">配送先編集</h4>
	    <div class="row">

	      <%= form_with model:@delivery, local: true do |f| %>

		  <table class="table">
		  	<tr>
		      <th><%= f.label :郵便番号, "郵便番号(ハイフンなし)"%></th>
		      <td><%= f.text_field :postcode %></td>
			</tr>
			<tr>
		      <th><%= f.label :住所 %></th>
		      <td><%= f.text_field :address, :size=>"40x10" %></td>
			</tr>
			<tr>
		      <th><%= f.label :宛名 %></th>
		      <td><%= f.text_field :name %></td>
		      <td><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
			</tr>
	      </table>
	      <% end %>
		</div>
    </div>
  </div>
</div>