<div class='container'>
  <div class='row'>
    <div class='col-lg-12'>
     <h3 class="col-lg-3 bg-light text-center mt-5" >注文履歴一覧</h3>
     <table class="table">
      <tr class="table-light">
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>ステータス</th>
        <% if @customer_orders.empty? %>
      </tr>
        <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to admin_order_path(order) do %>
          <%= order.created_at.to_s(:datetime_jp) %>
          <% end %>
        </td>
        <td><%= order.customer.last_name %> <%= order.customer.first_name %></td>
        <% @sum = 0 %>
        <td><% order.order_items.each do |order_item| %>
            <% @sum += order_item.amount %>
            <% end %>
            <%= @sum %>
        <td><%= order.status %></td>
      </tr>
       <% end %>
       <% else %>
        </tr>
        <% @customer_orders.each do |order| %>
      <tr>
        <td>
          <%= link_to admin_order_path(order) do %>
          <%= order.created_at.to_s(:datetime_jp) %>
          <% end %>
        </td>
        <td><%= order.customer.last_name %> <%= order.customer.first_name %></td>
        <% @sum = 0 %>
        <td><% order.order_items.each do |order_item| %>
            <% @sum += order_item.amount %>
            <% end %>
            <%= @sum %>
        <td><%= order.status %></td>
      </tr>
       <% end %>
       <% end %>
     </table>
   </div>
  </div>
</div>

<div class="container page">
  <%= paginate @orders %>
</div>