
<div class="bg-light">ジャンル一覧・追加</div>
<%= form_with model: [:admin, @category], local:true do |f| %>
<div class="field">
<tr>ジャンル名   <%= f.text_field :name %><%= f.submit "新規登録" %></tr>
</div>
<% end %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @categories.each do |category| %>
      <td><%= category.name %></td>
      <td><%= link_to "編集する", edit_admin_category_path(category), class: "btn- btn-success" %></td>
    </tr>
  </tbody>
</table>
<% end %>