<h4 class="mt-5 ml-8">注文情報確認画面</h4>

<table class="table table-bordered">
  <thead class="table-secondary">
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @sum = 0 %>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= attachment_image_tag cart_item.item, :image, format: 'jpeg', size: "75x50" %>
        <%= cart_item.item.name %>
      </td>
      <td><%= addTax(cart_item.item.price).to_s(:delimited) %></td>
      <td><%= cart_item.amount %></td>
      <td>
        <%= cart_item.sub_total_price.to_s(:delimited) %>
      </td>
    </tr>
    <% @sum += cart_item.sub_total_price %>
    <% end %>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
   <tr>
     <th>送料</th>
     <td><%= @order.postage.to_s(:delimited) %></td>
  </tr>
  <tr>
     <th>商品合計</th>
     <td><%= @sum.to_s(:delimited) %></td>
  </tr>
  <tr>
     <th>請求金額</th>
     <td><%= (@sum + @postage).to_s(:delimited) %></td>
  </tr>
  
  <h4>支払方法</h4>
  　<% if @order.payment_method == 0 %>
  		<p>クレジットカード</p>
  　<% else %>
  		<p>銀行振り込み</p>
  　<% end %>

　<h3>お届け先</h3>
　<%= @order.postcode %>
　<%= @order.address %>
　<%= @order.name %>