<div class="container">
  <h5>注文情報入力</h5>

  <%= form_with url: orders_path, method: :post, local: true do |f| %>
    <label class="col-sm-2 control-label">支払方法</label><br>
      <%= f.radio_button :payment_method, 0, checked: true %>
      <%= f.label :クレジットカード %>
      <%= f.radio_button :payment_method, 1 %>
      <%= f.label :銀行振込 %>
    <div>
    <label class="col-sm-2 control-label">お届け先</label><br>
      <div>
        <%= f.radio_button :address, current_customer.address, checked: true %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :postcode, :value => current_customer.postcode %>
        <%= f.hidden_field :last_name, :value => current_customer.last_name %>
        <%= f.hidden_field :first_name, :value => current_customer.first_name %>
        <%= f.label :ご自身の住所 %><br>
        〒<%= current_customer.postcode %>
        <%= current_customer.address %><br>
        <%= current_customer.last_name %><%= current_customer.first_name %>
      </div>
      <div>
        <%= f.radio_button :address, current_customer.address, checked: true %>
        <%= f.label :登録済み住所から選択 %><br>
        <%= f.collection_select :address, current_customer.deliveries.all, :id, :view_all, {prompt: '選択してください'} %>
      </div>
      <div>
        <%= f.radio_button :address, current_customer.address %>
        <%= f.label :新しいお届け先 %><br>
        <%= f.label :郵便番号, "郵便番号(ハイフンなし)"%>
      	<%= f.text_field :postcode, :placeholder => "半角数字,ハイフン無し" %><br>
      	<%= f.label :住所 %>
      	<%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園長0-0", :size=>"40x10" %><br>
        <%= f.label :宛名 %>
        <%= f.text_field :name, :placeholder => "令和道子" %>
      </div>
      <%= f.submit '確認画面へ進む', class: 'btn btn-primary'  %>
  <% end %>
</div>