<h3 class="mt-5">注文情報入力</h3>

<%= form_with url: orders_confirm_path, method: :post, local: true do |f| %>

  <div class="form-group">
    <label class="control-label">支払方法</label>
    <%= f.radio_button :payment_method, :"0", checked: true %>
    <%= f.label :クレジットカード %>
    <%= f.radio_button :payment_method, :"1" %>
    <%= f.label :銀行振り込み %>
  </div>

  <div class="form-group">
    <label class="control-label">お届け先</label>
    <%= f.radio_button_tag("choice1", "") %>
    <%= f.label_tag("", "ご自身の住所") %>
    <%= current_customer.postcode %>
    <%= current_customer.address %>
    <%= current_customer.last_name %>
    <%= current_customer.first_name %>
  </div>

  <div class="form-group">
    <%= f.radio_button_tag("choice1", "") %>
    <%= f.label_tag("", "登録した住所")%>
    <%= f.collection_select :delivery_id, @deliveries, :id, :total_address %>
  </div>

  <div class="form-group">
    <%= f.radio_button_tag("choice1", "") %>
    <%= f.label_tag("", "新しい住所") %>
    <%= f.text_field :postcode, :placeholder => "0000000" %>
    <%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0" %>
    <%= f.text_field :name, :placeholder => "令和道子" %>
  </div>

  <div class="actions">
    <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
  </div>
  <% end %>
  