<h2>商品一覧</h2>
<span>(全<%= @items.count %>件)</span>

<div class= "container">
  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
    <%= attachment_image_tag item, :image, :fill, 50, 75, fallback: "images/no-image1.gif", size:'50x75' %>
    <% end %>
    <%= item.name %><br>
    ￥<%= item.price %><br>
  <% end %>
  <%= paginate @items %>
</div>