商品詳細画面
  <%= attachment_image_tag @item, :image, :fill, 100, 125, fallback: "images/no-image1.gif", size:'100x125' %>
  <h2><%= @item.name %></h2>
  <p><%= @item.information %></p>
  <h3>￥<%= @item.price %></h3>(税込)

  <%= form_with url: cart_items_path, method: :post, local: true do |f| %>
    <%= f.select :amount, options_for_select({ "1" => "1", "2" => "2", "3" => "3", "4" =>"4", "5" => "5" }) %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.submit 'カートに入れる' %>
  <% end %>