<div class="container mx-auto mt-5">
  <div class="row justify-content-center">
    <div class="col-3">
      <%= attachment_image_tag @item, :image, format: 'jpeg', size: "225x175" %>
    </div>
    <div class="item_info col-4">
      <h4><%= @item.name %></h4><br>
      <p><%= @item.information %></p>
      <div class="tax_price">
        <h5>￥<%= addTax(@item.price).to_s(:delimited) %></h5><p>(税込)</p>
      </div>
        <%= form_with url: cart_items_path, method: :post, local: true do |f| %>
          <%= f.select :amount, options_for_select((1..99).to_a), {prompt: '個数選択'} %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.submit 'カートに入れる', class: 'btn btn-success btn-sm btn_cart' %>
        <% end %>
    </div>
  </div>
</div>